<!DOCTYPE html>
<html ng-app="store">
  <body>
   <div ng-controller="StoreController as store"> <!-- attach controller; scope inside DOM element -->
     <h1>{{store.product.name}}</h1>
     <h2>${{store.product.price}}</h2>
     <p>{{store.product.description}}</p>
   </div>
  </body>
</html>